*{padding: 0;margin: 0;}

.header{
    width: 1200px;height: 100px;margin: 0 auto;
}

.main{
    width: 1200px;height: 300px;margin: 0 auto;
    background-color: lightblue;
}

.contents{
    width: 1200px;height: 200px;margin: 0 auto;
}

.footer{
    width: 1200px;height: 100px;margin: 0 auto;
}

.logo{ float: left; width: 200px; height: 100px; background-color: hotpink;}
.gnb{ float: left; width: 1000px; height: 100px; background-color: green;}

.notice , .banner , .shortcut {
    float: left; width: 400px; height: 200px;
}
.notice{ background-color: rgb(7, 136, 171);}
.banner{ background-color: rgb(216, 34, 116);}
.shortcut{ background-color: rgb(163, 197, 38);}

.hadan{ float: left; width: 1000px; height: 50px; background-color: rgb(27, 225, 179);}
.copyright{ float: left; width: 1000px; height: 50px; background-color: rgb(112, 234, 205);}

